@CHARSET "UTF-8";

#_abcdef {
	position:relative;
	top:100px;
	left:100px;
}

#_first_select {
	padding:1px 2px 3px 4px;
	margin:10px 20px 30px 40px;
	width:50px;
	border-left:5px solid #000;
	border-top:5px solid #000;
	border-right:5px solid #000;
	border-bottom:5px solid #000;
}
